.wrapper {
  display: flex;
  justify-content: center;
}

.table-container {
  border-collapse: collapse;
  border: 1px solid #ccc;
  width: 100%;
}

.table-container th, .table-container td {
  border: 1px solid #ccc;
  border-right: none; /* Remove vertical border lines */
  padding: 8px;
  text-align: center;
}

.table-container th {
  background-color: #f0f0f0;
}

