@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i");

input:focus,
button:focus {
	outline: none;
}

button:hover,
.reset:hover {
	opacity: .8;
}

button:active,
.reset:active {
	opacity: .5;
}
.container.slider-one-active{
	width: 40%;
}
.container {
	width: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.steps {
	margin-bottom: 10px;
	position: relative;
	height: 25px;
}

.steps > div {
	position: absolute;
	top: 0;
	-webkit-transform: translate(-50%);
	-ms-transform: translate(-50%);
	transform: translate(-50%);
	height: 25px;
	padding: 0 5px;;
	display: inline-block;
	width: 110px;
	text-align: center;
	-webkit-transition: .3s all ease;
	transition: .3s all ease;
}

.steps > div > span {
	line-height: 25px;
	height: 25px;
	margin: 0;
	color: #777;
	font-family: 'Roboto', sans-serif;
	font-size: .9rem;
	font-weight: 300;
}

.steps > div > .liner {
	position: absolute;
	height: 2px;
	width: 0%;
	left: 0;
	top: 50%;
	margin-top: -1px;
	background: #999;
	-webkit-transition: .3s all ease;
	transition: .3s all ease;
}

.step-one {
	left: 0;
}

.step-two {
	left: 50%;
	clip: rect(0, 0px, 25px, 0px);
}

.step-three {
	left: 100%;
	clip: rect(0, 0px, 25px, 0px);
}

.line {
	width: 100%;
	height: 5px;
	background: #ddd;
	position: relative;
	border-radius: 10px;
	overflow: visible;
	margin-bottom: 50px;
}

.line .dot-move {
	position: absolute;
	top: 50%;
	left: 0%;
	width: 15px;
	height: 15px;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background: #ddd;
	border-radius: 50%;
	-webkit-transition: .3s all ease;
	transition: .3s all ease;
}

.line .dot {
	position: absolute;
	top: 50%;
	width: 15px;
	height: 15px;
	left: 0;
	background: #ddd;
	border-radius: 50%;
	-webkit-transition: .3s all ease;
	transition: .3s all ease;
	-webkit-transform: translate(-50%, -50%) scale(.5);
	-ms-transform: translate(-50%, -50%) scale(.5);
	transform: translate(-50%, -50%) scale(.5);
}

.line .dot.zero {
	left: 0%;
	background: #bbb;
}

.container.slider-one-active .dot.zero {
	background: #5892fc;
}

.line .dot.center {
	left: 50%;
	background: #bbb
}

.line .dot.full {
	left: 100%;
	background: #bbb
}

.slider-ctr {
	width: 100%;
	overflow: hidden;
}

.slider {
	overflow: hidden;
	width: 1200px;
	-webkit-transition: .3s all ease;
	transition: .3s all ease;
	-webkit-transform: translate(0px) scale(1);
	-ms-transform: translate(0px) scale(1);
	transform: translate(0px) scale(1);
}

.container.slider-one-active .slider-two,
.container.slider-one-active .slider-three {
	-webkit-transform: scale(.5);
	-ms-transform: scale(.5);
	transform: scale(.5);
}

.container.slider-two-active .slider-one,
.container.slider-two-active .slider-three {
	-webkit-transform: scale(.5);
	-ms-transform: scale(.5);
	transform: scale(.5);
}

.container.slider-three-active .slider-one,
.container.slider-three-active .slider-two {
	-webkit-transform: scale(.5);
	-ms-transform: scale(.5);
	transform: scale(.5);
}

.slider-one,
.slider-two,
.slider-three {
	-webkit-transition: .3s all ease;
	transition: .3s all ease;
}

.slider-form {
	float: left;
	width: 400px;
	text-align: center;
}

.slider-form h2 {
	font-size: 1.5rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	margin-bottom: 50px;
	color: #999;
	position: relative;
}

.slider-form h2 .yourname {
	font-weight: 400;
}

.slider-form h3 {
	font-size: 1.5rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	margin-bottom: 50px;
	line-height: 1.5;
	color: #999;
	position: relative;
}

.slider-form h3 .balapa {
	font-family: 'Pacifico', sans-serif;
	display: inline-block;
	color: #5892fc;
	text-decoration: none
}

.slider-form [type="text"] {
	width: 100%;
	box-sizing: border-box;
	padding: 15px 20px;
	background: #fafafa;
	border: 1px solid transparent;
	color: #777;
	border-radius: 50px;
	margin-bottom: 50px;
	font-size: 1rem;
	font-family: 'Roboto', sans-serif;
	position: relative;
	z-index: 99;
}

.slider-form [type="text"]:focus {
	background: #fcfcfc;
	border: 1px solid #ddd;
}

.slider-form button,
.reset {
  display: inline-block;
  text-decoration: none;
	background: #5892fc;
	border: none;
	color: white;
	padding: 10px 25px;
	font-size: 1rem;
	border-radius: 3px;
	cursor: pointer;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	position: relative;
}

/*  emot */

.label-ctr {
	margin-bottom: 50px;
}

label.radio {
	height: 55px;
	width: 55px;
	display: inline-block;
	margin: 0 10px;
	background: transparent;
	position: relative;
	border-radius: 50%;
	cursor: pointer
}

label.radio input {
	visibility: hidden
}

label.radio input:checked + .emot {
	-webkit-transform: scale(1.25);
	-ms-transform: scale(1.25);
	transform: scale(1.25);
}

label.radio input:checked + .emot,
label.radio input:checked + .emot .mouth {
	border-color: #5892fc;
}

label.radio input:checked + .emot:before,
label.radio input:checked + .emot:after {
	background: #5892fc;
}

label.radio .emot {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fafafa;
	border-radius: 50%;
	border: 2px solid #ddd;
	-webkit-transition: .3s all ease;
	transition: .3s all ease;
}

label.radio .emot:before {
	content: "";
	position: absolute;
	top: 15px;
	left: 15px;
	width: 5px;
	height: 10px;
	background: #ddd;
}

label.radio .emot:after {
	content: "";
	position: absolute;
	top: 15px;
	right: 15px;
	width: 5px;
	height: 10px;
	background: #ddd;
}

label.radio .emot .mouth {
	position: absolute;
	bottom: 10px;
	right: 15px;
	left: 15px;
	height: 15px;
	border-radius: 50%;
	border: 3px solid #ddd;
	background: transparent;
	clip: rect(0, 35px, 10px, 0);
}

label.radio .emot .mouth.smile {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

label.radio .emot .mouth.sad {
	-webkit-transform: translateY(50%);
	-ms-transform: translateY(50%);
	transform: translateY(50%);
}

/*	center */

.container.center .line .dot-move {
	left: 50%;
	-webkit-animation: .3s anim 1;
}

.container.center .line .dot.center {
	background: #5892fc;
}

.container.center .slider {
	-webkit-transform: translate(-400px);
	-ms-transform: translate(-400px);
	transform: translate(-400px);
}

.container.center .step-two {
	clip: rect(0, 100px, 25px, 0px);
}

.container.center .step-one .liner {
	width: 100%;
}

/*	full */

.container.full .line .dot-move {
	left: 100%;
	-webkit-animation: .3s anim 1;
}

.container.full .line .dot.full {
	background: #5892fc;
}

.container.full .slider {
	-webkit-transform: translate(-800px);
	-ms-transform: translate(-800px);
	transform: translate(-800px);
}

.container.full .step-two,
.container.full .step-three {
	clip: rect(0, 100px, 25px, 0px);
}

.container.full .step-one .liner,
.container.full .step-two .liner {
	width: 100%;
}


/*  form.css */ 
.form-container {
	max-width: 500px;
	margin: 0 auto;
	padding: 26px;
	background-color: #f4f4f4;
	border: 1px solid #ccc;
	border-radius: 5px;
  }
  
  .form-label {
	display: block;
	font-weight: bold;
	color: #333;
	margin-bottom: 5px;
  }
  
  .form-input {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 5px;
  }
  
  .form-select {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 5px;
  }
  
  .form-button {
	display: block;
	margin-top: 20px; /* Adjust the margin as needed to push the button to the bottom */
	background-color: #007bff;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }
  
  
  .custom-checkbox {
	width: 20px; /* Adjust the width as needed */
	height: 20px; /* Adjust the height as needed */
	margin-right: 5px; /* Add margin to separate the label from the checkbox */
	vertical-align: middle; /* Vertically align with the label text */
  }
  
  
  
  
  
  /* -----------------------------------show according to div id -------------------------------------------------     */
  
  
  /* Style the form container */
  .form-container-div {
	max-width: 500px;
	margin: 0 auto;
	padding: 26px;
	background-color: #f4f4f4;
	border: 1px solid #ccc;
	border-radius: 5px;
  }
  
  /* Style labels */
  .form-label-div {
	display: block;
	font-weight: bold;
	color: #333;
	margin-bottom: 5px;
  }
  
  /* Style text inputs and select elements */
  /* .form-input-div,
  .form-select {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 5px;
  } */
  
  .form-input-div {
	width: 95%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 5px;
  }
  
  .form-select-div {
	width: 97%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 5px;
  }
  
  /* Style the checkbox input and its label */
  .custom-checkbox-div {
	width: 20px; /* Adjust the width as needed */
	height: 20px; /* Adjust the height as needed */
	margin-right: 5px; /* Add margin to separate the label from the checkbox */
	vertical-align: middle; /* Vertically align with the label text */
  }
  
  .custom-checkbox-div label {
	margin-left: 10px;
  }
  
  /* Style the submit button */
  .form-button-div {
	display: block;
	margin-top: 20px; /* Adjust the margin as needed to push the button to the bottom */
	background-color: #007bff;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }
  
  .form-button-div:hover {
	background-color: #0056b3;
  }
  
  
  
  /* ------------------------------------------------for according to latest json----------------------------------------- */
  
  
  /* Input Box */
  .input-box {
	border: 1px solid #ced4da; /* Softer border color */
	padding: 10px; /* More padding for better spacing */
	margin: 10px 0; /* Top and bottom margin for separation */
	width: 97%; /* Full width by default */
	border-radius: 5px; /* Rounded corners */
	font-size: 16px; /* Larger text size */
  }
  
  /* Dropdown */
  .dropdown {
	/* border: 1px solid #ced4da; Softer border color */
	padding: 10px; /* More padding for better spacing */
	margin: 10px 0; /* Top and bottom margin for separation */
	width: 100%; /* Full width by default */
	border-radius: 5px; /* Rounded corners */
	font-size: 16px; /* Larger text size */
  }
  
  /* Checkbox */
  .checkbox {
	margin: 10px ; /* Top and bottom margin for separation */
	font-size: 16px; /* Larger text size */
  }
  
  /* Button */
  .button {
	background-color: #007bff;
	color: white;
	padding: 12px 20px; /* Slightly larger button */
	border: none;
	cursor: pointer;
	border-radius: 5px; /* Rounded corners */
	font-size: 16px; /* Larger text size */
  }
  
  /* Highlight Required Fields */
  .required-label {
	color: #ff0000; /* Red color for required labels */
	margin-left: 5px; /* Add spacing between label and asterisk */
  }
  
  
  
  
  /*---------------------------------add agency---------------------------------------------  */
  
  .add-hdr {
  
	padding: 1.4rem;
	background: #fff;
	box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.1);
  
	position: sticky;
	top: 0;
	z-index: 999;
	border-radius: 8px 8px 0 0 !important;
  }
  
  
  .add-hdr h4 {
	font-size: 24px;
  }
  
	.btn-close:focus {
	  outline: 0;
	  box-shadow: none;
  
	}
	.btn-close{
	  width:2rem; height: 2rem; --bs-btn-close-color: #6F6E6E !important;
	}
	.offcanvas-header .btn-close {
	  padding: 0;}
	  .offcanvas-body{padding: 0;}
	  .form-block{padding: 1.4rem;}
	  .add-title {
		background: #fff;
		color: #122b74 !important;
		border-left: 5px solid #65A34E;
		border-radius: 0;
		margin-bottom: 1.4rem;
		padding:.3rem 1rem;
	  }
	  .add-title h3 {
		color: #000;
		font-size: 20px;
		font-weight: 700;
	line-height: normal;
	 margin: 0;
	padding: 0;
	  }
  
	  .star{ color: #FF3636;}
	  .form-label{font-weight: 500; color: #033333;}
	  .form-control::placeholder {
		color: rgba(135, 141, 147, 0.75);
		opacity: 1;
	  }
	  .form-control:focus ,  .form-select:focus{
  
  
		border-color: #203F8F;;
  
		box-shadow:none;
	  }
  
	  .blk-bt {
		background: #fff;
		position: fixed;
		padding: 15px;
		bottom: 0;
		border-top: 1px solid #ccc;
		width: 80%;
		z-index: 9;
  
	  }
  
  
  
	  .policy_details_sec{
		display: flex;
		flex-wrap: wrap;
		gap:23px;
	  }
	  
	  .policy_detail_item {
		flex: 1 0 18%; 
		 height: 68px;
		 display: flex;
		 align-items: center;
	   background:#1976d2;
	   color:#fff;
	   padding:12px;
	   border: 1px solid rgba(0, 0, 0, 0.1);
	   border-radius:8px;
	   justify-content: flex-start;
	   cursor:pointer;
	   box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
	  }
	  
	  .policy_detail_item:hover{
	   transition:all .3s ease-in;
		box-shadow: 0px 2px 3px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
	  }
	
	  
	.detail_logo img{
		-webkit-transform: scale(0.9);
		  transform: scale(0.9);
		  -webkit-transition: .3s ease-in-out;
		  transition: .3s ease-in-out;
		cursor:pointer;
		width: 30px;
		
	  }
	  
	  .detail_logo img:hover{
		-webkit-transform: scale(0.8);
		  transform: scale(0.8);
		cursor:pointer;
	  }
	
	  .tab-content{
		border: 1px solid;
		border-color: #fff #a09c9c36 #a09c9c36 #a09c9c36;
		border-radius:5px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	  }
	
	  .content {
		margin-left:16px;
	   display:flex;
	   flex-direction: column;
	 }
	
	 .content h2 {
		font-size: 16px;
		font-weight:600;
		margin: 0;
	  }
	  
	  .content p {
		font-size: 14px;
		margin-bottom:0;
	  }
	  
	
	
	  /* ------------------------policy detail tabs------------------------------ */
	 /*common styling*/
	 .main_title {
		position: relative;
		margin-bottom: 40px !important;
		text-transform: uppercase;
	  }
	  
	  .main_title_left:before,
	  .main_title_left:after {
		left: 0px;
	  }
	  
	  /*common styling end*/
	  .member_card_style {
		position: relative;
		padding: 25px;
		background: #fff;
		transition: 0.5s;
		margin: 20px 0;
		border: 2px;
		border-color: #fff #1976d2 #1976d2 #1976d2 ;
	  }
	  
	  
	  /* for policy detail and claim detail tabs */
	  .member_card_style_policy {
		position: relative;
		padding: 25px;
		background: #fff;
		transition: 0.5s;
		margin: 20px 0 5px;
		border: 2px;
		border-color: #fff #1976d2 #1976d2 #1976d2 ;
	  }
	  
	  
	  
	  .member-info {
		/* padding-left: 30px; */
		display: inline-block;
	  }
	  
	   
	  .custom_tab_style1.nav-tabs {
		border-bottom: 1px solid #a09c9c36;
	  }
	   
	  
	  .custom_tab_style1.nav-tabs .nav-link {
		margin-bottom: -2px;
		padding: 10px 25px;
		border-width: 1px;
		color: #122b74;
		font-weight:600;
		cursor:pointer;
		background:#f4f5f9;
	  }
	  
	  .custom_tab_style1 .nav-item.show .nav-link,
	  .custom_tab_style1 .nav-link.active {
		color: #1976d2;
		font-weight:600;
		border: 1px solid;
		border-color: #a09c9c36 #a09c9c36  #fff #a09c9c36;
		border-bottom-style:hidden;
		border-radius:5px;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		cursor:pointer;
		background:#fff;
	  }
	  
	  .custom_tab_style1 .nav-link:focus
	   {
		border: 1px solid;
		font-weight:600;
		border-color: #a09c9c36 #a09c9c36  #fff #a09c9c36;
		border-radius:5px;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	  }
	  
	  .nav-tabs li{
		margin-right:15px;
	  }
	  
	  .tab-content{
		border: 1px solid;
		border-color: #fff #a09c9c36 #a09c9c36 #a09c9c36;
		border-radius:5px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	  }
	  
	  
	  .form_dtl{
		/* border:1px solid #a09c9c36;
		border-radius:5px;
		box-shadow:3px 3px 7px rgba(0, 0, 0, 0.1); */
		/* padding: 25px; */
		  background: #fff;
		  transition: 0.5s;
		  margin: -30px 0;
	  
	  }
	  
	  
	  .form_dt2{
		/* border:1px solid #a09c9c36;
		border-radius:5px;
		box-shadow:3px 3px 7px rgba(0, 0, 0, 0.1); */
		/* padding: 25px; */
		  background: #fff;
		  transition: 0.5s;
		  margin: -30px 0;
	  
	  }
	
	
	
	
	  /* ----------------------------------------------------------details card form ------------------------------ */
	.detail_box{
		color:#1976d2;
		transition:all .3s ease;
		border-radius:8px;
		 background:#fff;
		 cursor:pointer;
		 filter: drop-shadow(3px 3px 7px rgba(0, 0, 0, 0.1));
		 border:1px solid  rgba(145, 145, 145, 0.1);
		 box-shadow:none !important;
	  }
	  
	  .detail_header{
		cursor:pointer;
		border-bottom:1px solid rgba(0, 0, 0, 0.1);
	  }
	  
	  .detail_box:hover {
		transition: all .33s ease-in;
		filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));
	  }
	  .user_heading img {
		border: solid 1px transparent;
		border-radius: 50%;
	  }
	   
	  /* .borderless-input {
		border: none;
		background-color: none;
		outline: 0;
		font-size: 15px;
		width: 300px;
		height: 30px;
		padding: 7px 38px 7px 8px;
	  } */
	  
	  /* .account_detail_button{
		display:flex;
		align-items: center;
		justify-content: flex-end;
		margin-bottom:20px;
	  } */
	  .account_detail_button button{
		margin:0 10px;
		text-transform: capitalize;
	  }
	  .account_detail_button button:last-child{
		margin:0;
	  }
	  .borderless-input, .member-info input {
		border: none;
		background-color: none;
		outline: 0;
		display: block;
		  width: 220px;
		  padding: 0.375rem 0.75rem;
		  font-size: 1rem;
		  font-weight: 400;
		  line-height: 1.5;  
		  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	   
	  }
	  .detail_item{
		display: flex;
		align-items: center;
		justify-content: flex-start;
	  }
	  .detail_title{
		min-width:188px;
		margin-right:0;
	  }
	  .detail_item .detail_title{
		display: block;
		  position: relative;
		  padding-right: 15px;
		  font-weight: 600;
		  color: #2b2b2b;
	  }
	
	  .mendatory-field{
		color:red;
	  }
	
	  .mendatory-field:after{
		content:':';
		position: absolute;
		  right: 5px;
		  top: 0;
		  color: #2b2b2b;
	  
	  }
	
	
	
	  /* for Lob tab in policy detail  */
	
	.lob_detail_item{
		display: flex;
		align-items: center;
		justify-content: flex-start;
	  }
	  
	  .lob_detail_title{
		min-width:260px;
		margin-right:0;
	  }
	  .lob_detail_item .lob_detail_title{
		display: block;
		  position: relative;
		  padding-right: 15px;
		  font-weight: 600;
		  color: #2b2b2b;
	  }
	  
	  .mendatory-field{
		color:red;
	  }
	  .mendatory-field:after{
		content:':';
		position: absolute;
		  right: 5px;
		  top: 0;
		  color: #2b2b2b;
	  
	  }
	  
	  .box_container .css-19midj6 {
		padding: 16px;
	  } 
	  .paper_box{
		box-shadow:none!important;
	  }
	  
	  .css-3su884-MuiPaper-root {
		background-color: #fff;
		color: rgba(0, 0, 0, 0.87);
		-webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
		transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
		border-radius: 4px;
		box-shadow: none !important;
	  }
	  
	  .css-bhp9pd-MuiPaper-root-MuiCard-root{
		box-shadow:none !important;
		transition: all .33s ease-in;
		filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));
	  }
	  
	  
	  .pagetitle h1 {
		font-size: 22px;
		margin-bottom: 0;
		font-weight: 600;
		color: #012970;
	  }
	  
	  .pagetitle1 h1 {
		font-size: 22px;
		position: relative;
		right: 525px;
		margin-bottom: 20px;
		margin-top: 10px;
		font-weight: 600;
		color: #012970;
	  }
	  .pagetitleDetailCell{
		/* background: #8ba2cd; */
		background: #c0cee6;
		padding: .3rem 0 .3rem 0;
	  }
	  .pagetitleDetailCell h1 {
		font-size: 14px;
		margin-bottom: 0px;
		margin-top: 0px;
		padding-left: 1.2rem;
		font-weight: 600;
		color:#000000;
	  }